input.ng-invalid.ng-touched{
    border: 3px solid rgb(212, 8, 8);
    background-color: rgb(255, 192, 192);
}

input {
    border-radius: 3px;
}

* {
    text-align: center;
    margin: 5px;
    padding: 10px;
    font-size: 25px;
}

label {
    font-size: 25px;
    color: white;
}

p {
    color: white;
}
