div.album{
    background-color: rgb(236, 236, 236);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    font-size: 20px;

}

button {
    font-size: 20px;
    padding: 5px;
    margin: 3px;
    text-align: center;
    user-select: none;
}