h1 {
    text-align: center;
    color: white;
    font-size: 25px;
    letter-spacing: 1px;
    margin: 0;
    padding: 15px;
    background-color: rgb(85, 85, 85);
}

button {
    font-size: 25px;
    float: left;
    padding: 5px;
    
}

