h1 {
    text-align: center;
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    margin: 0;
    padding: 15px;
    background-image: linear-gradient(to bottom right, rgb(66, 59, 59), rgb(165, 7, 7));
    font-variant: small-caps;
}

a {
    font-size: 30px;
    text-decoration: none;
    float: left;
    padding: 2px;
    border: 0;
    cursor: pointer;
    color: rgb(233, 233, 233);
    transition: color .3s ease-in-out
}

a:hover{
    color: rgb(255, 255, 255);
}

