<div>
    <h2 style="margin-bottom: 5px;">Images in album {{albumIndex}} : </h2>
    <hr style="margin-bottom: 5px;">
    <div style="text-align: center;">
        <form (ngSubmit)="onSubmit(pageNumber)" #f="ngForm">
            <button type="button" (click)="onPrevPage()"> < </button>
             <span class="page-info">Page: 
                <input name="curPage" type="number" value="{{pageNumber}}" required min="1" max="{{totalPages}}" [(ngModel)]="pageNumber"> of {{totalPages}} pages 
            </span> 
            <button type="button" (click)="onNextPage()"> > </button>
        </form>
        
    </div>
    <div *ngFor="let image of images">
        <app-image-item [image]="image"></app-image-item>
    </div>
</div>

