button {
    font-size: 15px;
    padding: 5px;
    margin: 3px;
    text-align: center;
    user-select: none;
    cursor: pointer;
}

span.page-info {
    font-size: 20px;
    margin: 0 5px 0 5px;
}