/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
    font-family: 'Exo', sans-serif;
    margin: 0;
    padding: 0;
    
}

html {
    background-image: linear-gradient(307deg, rgba(106,106,106,1) 0%, rgba(77,77,77,1) 33%, rgba(124,124,124,1) 90%);
    min-height: 100%;
}

.btn-submit {
    border: 1px solid black;
    background-image: linear-gradient(to bottom right, rgb(66, 59, 59), rgb(165, 7, 7));
    color: white;
    border-radius: 5px;
}

.btn-submit:disabled {
    background-image: linear-gradient(to bottom right, rgb(94, 85, 85), rgb(187, 7, 7));
    color: rgb(196, 196, 196);
}

.btn-submit:hover:enabled {
    background-image: linear-gradient(to bottom right, rgb(53, 50, 50), rgb(126, 12, 12));
    color: rgb(255, 255, 255);
}

.btn-navigate {
    text-align: center;
    line-height: 0px;
    font-size: 25px;
    padding: 5px;
    margin: 5px;
    width: 40px;
    height: 40px;
    text-align: center;
    user-select: none;
    cursor: pointer;
    background-image: linear-gradient(to bottom right, rgb(66, 59, 59), rgb(165, 7, 7));
    color: white;
    border: 0;
}

.btn-navigate:hover{
    background-image: linear-gradient(to bottom right, rgb(124, 119, 119), rgb(165, 7, 7));
}