h1 {
    text-align: center;
    margin: 20px auto;
    font-size: 40px;
    transform: rotate(180deg);
    border: 0;
    background-color: rgb(246, 250, 249);
    padding: 25px;
    width: 50%;
    border-radius: 10px;
}