.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    margin: 25px auto 0 auto;
   
}

.column{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    border: 0;
    background-color: rgb(250, 253, 255);
    padding: 15px;
    margin: 0 5px 0 5px;
}

@media screen and (max-width:900px) {
    .row {
        flex-direction: column;
    }
}